*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
}

ul{
    list-style: none;
}

a{
 text-decoration: none;
 color: white;
 font-weight: 700;
}

h1{
    font-family: 'Staatliches', cursive;
    font-size: 2.5rem;
    padding-left: 50px;
}

h2{
    font-family: 'Staatliches', cursive;
    font-size: 2rem;
}

p{
    font-weight: 700;
    font-size: .75rem;
}

h3{
    font-weight: 500;
}

h4{
    font-size: 1rem;
    /* margin-left: 20px; */
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
}

header{
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.514);
    height: 190px;
}

input[type=text]{
    width: 300px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: aliceblue;
}

.search-icon{
    width: 25px;
}

.search-area{
    gap: 5px;
    padding: 17px;
    justify-content: space-between;
}

.sidebar{
    background-color: rgb(26, 146, 211);
    width: 300px;
    height: 100vh;
    float: left;
    padding-top: 15px;
    color: white;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 2px;
}

.dashboard{
    color: white;
    scale: 1.5;
}

.main-nav{
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding: 30px 50px;
}

ul span{
    font-size: 1rem;
    margin-left: 10px;
}

.navigation-items{
    flex-direction: column;
}

.second-nav{
    margin-top: 40px;
}

svg{
    scale: 1.3;
    margin-right: 2px;
}

.profile-picture{
    width: 35px;
}

.profile-info{
    gap: 20px;
    margin-right: 10px;
}

.profile-picture-big{
    width: 60px;
    margin-left: 40px;
}

.intro-details{
    justify-content: space-between;
    padding-top: 25px;
}

.content{
    flex-direction: column;
    margin-left: 20px;
    align-items: flex-start;
}

.buttons{
    gap: 30px;
    margin-right: 20px;
}

.user-btns{
    border: none;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: rgb(26, 146, 211);
    color: white;
    font-weight: 700;
    font-size: 15px;
}

.user-btns:hover{
    background-color:rgb(21, 110, 158) ;
}

.user-btns:active{
    scale: .9;
}

.project-details{
    flex-direction: column;
    margin-left: 30px;
    margin-top: 20px;
}

.project-details>h3{
    font-weight: 700;
    align-self: flex-start;
}

.card{
    margin-top: 10px;
    grid-template-columns: repeat(2,minmax(300px,600px));
    grid-template-rows: repeat(3,200px);
    gap: 30px;
}

.main-container{
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}

.projects{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.404);
}

.color-strip{
    background-color: rgb(255, 208, 0);
    height: 100%;
    width: 15px;
    border-radius: 5px 0 0 5px;
    user-select: none;
    color: rgb(255, 208, 0);
}

.details{
    padding-inline: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.details>p{
    font-weight: normal;
}

.icons{
    gap: 30px;
    align-self: flex-end;
    margin-top: 30px;
}

.announcements{
    justify-content: flex-start;
    flex-direction: column;
}

.other-details{
    flex-direction: column;
}

.announcements>h3{
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.data-points,.trending-topics{
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    padding: 10px 20px 20px 10px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.404);
}

.data-points>p{
    font-weight: normal;
}

.data-points>h4{
    margin-top: 20px;
}

hr{
    border: .5px solid rgba(0, 0, 0, 0.438);
    width: 100%;
    margin-top: 10px;
}

.trending>h3{
    margin-block: 10px;
    font-weight: bold;
}

.forum>img{
    width: 60px;
    margin-top: 5px;
}

.about{
    flex-direction: column;
    align-items: flex-start;
}

.about>p{
    font-weight: normal;
    margin-left: 5px;
    font-size: .75rem;
}

.trending-topics{
    gap: 10px;
}

.sub{
    color: rgb(59, 59, 59);
    font-weight: 700;
}